// Bootstrap
@import "_bootstrap";

// Roots
@import "_global";                   // Base styling & custom mixins
@import "components/_buttons";       // Button tweaks
@import "components/_forms";         // Form tweaks
@import "components/_media";         // WordPress media
@import "components/_wp-classes";    // WordPress generated classes
@import "layouts/_general";          // General styling
@import "layouts/_header";           // Header styling
@import "layouts/_sidebar";          // Sidebar styling
@import "layouts/_footer";           // Footer styling
@import "layouts/_pages";            // Page styling
@import "layouts/pages/_home";       // Home page styling
@import "layouts/_posts";            // Post styling

body {
  padding-top: 56px;
}

.navbar {

  a {
    text-decoration: none;
  }

  margin-bottom: 0;
  border-bottom: solid 6px #6fb052;
  z-index: 5;

  .logo-wrapper {
    position: relative;
    width: 48px;
    height: @navbar-height;
    overflow: hidden;
    margin: 0 15px;
    //margin: 0 15px 0 15px;
  }

}

.navbar-brand {
  display: block;
  position: absolute;
  bottom: 6px;
  width: 48px;
  height: 0;
  padding-top: 48px;
  padding-bottom: 0;
  overflow: hidden;
  background: url('img/totte-logga-40px.png') no-repeat;
}

.page-template-template-start-page-php {

  h1 {
    font-size: 24px;
    line-height: 1.4em;
  }

  .navbar-brand {
    transition: bottom 0.5s;
    bottom: -60px;
  }

  &.scrolled {

    .navbar-brand {
      bottom: 6px;
    }

  }

  .start-sidebar {

    ul {
      .list-unstyled;
    }

    li {
      margin-bottom: 8px;
    }

  }

  .hero {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-size: cover;
    background-position: center center;
    min-height: 300px;

    h1 {
      font-size: 18px;
      margin: 0;
      border: none;

      .h1-main {
        font-size: @font-size-h1;
      }


    }

    h1 span,
    .h1 {
      font-size: @font-size-h3;
      display: inline-block;
      padding: 8px;
      background: rgba(0, 0, 0, 0.4);
      margin-bottom: 0;
      margin-top: 0;
      color: #fff;
      line-height: 1;
    }

  }

  .large-logo-wrapper {
    position: absolute;
    width: 190px;
    height: 190px;
    background: url('img/totte-logga.png') no-repeat center center;
    //border-radius: 95px;
    top: 32px;
    opacity: .9;
    //border: solid 6px #6fb052;
    z-index: 4; // Lets have these elements over the hero background

    span {
      display: none;
    }

  }

  .outer-wrap {
    position: relative;
    z-index: 2;
    border-top: solid 6px #6fb052;
    margin-top: -95px;
    background: #fff;
  }

}

h1 {
  font-family: 'Shadows Into Light', cursive;
  font-weight: 800;
  border: none;
}

h1,
h2 {
  color: #6fb052;
}

a {
 text-decoration: underline;
}

.page-header {
  margin: 20px 0 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {

  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }

}

.main {
  padding: 0 0 18px;
}

footer {
  padding: 18px 0;
  background: #ace190;
  border-top: solid 6px #6fb052;
}

.navbar-nav {

  li {
    font-weight: bold;
  }

  a::after {
    display: block;
    margin-bottom: -18px;
    width: 100%;
    text-align: center
  }

  .active a::after {;
    content: '●' !important;
  }

  a:hover::after {
    content: '•';
  }

}

iframe {
  width: 100%;
}

.eo-event-future {
  margin-bottom: 12px;
}

@media (min-width: 768px) {

  .navbar {

    .logo-wrapper {
      margin-left: 0;
    }

  }

}

@media (min-width: @screen-sm-min) {

  .navbar {

    .logo-wrapper {
      margin-left: 0;
    }

  }

}

@media (min-width: @screen-md-min) {

  .page-template-template-start-page-php {

    h1 {
      font-size: 36px;
    }

  }

}

@media (min-width: @screen-lg-min) {

  .page-template-template-start-page-php {

    h1 {
      font-size: 44px;
    }

  }

}
